<!-- navbar ends here -->

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
        ></button>
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
        ></button>
    </div>

    <div class="carousel-inner" style="height: 93vh">
        <div class="carousel-item active">
            <img
                src="https://www.oberlo.com/media/1612639204-image3.jpg?fit=max&fm=webp&w=1824"
                class="d-block w-100"
                alt="..."
            />
        </div>

        <div class="carousel-item">
            <img
                src="https://www.oberlo.com/media/1612639390-image5.png?fm=webp&w=1824&fit=max"
                class="d-block w-100"
                alt="..."
            />
        </div>

        <div class="carousel-item">
            <img
                src="https://www.oberlo.com/media/1612639204-image3.jpg?fit=max&fm=webp&w=1824"
                class="d-block w-100"
                alt="..."
            />
        </div>
    </div>

    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- carousel ends here -->

<div class="container">
    <h1 class="text-center mt-3">Our Menu</h1>
    <div class="row my-3" data-masonry='{"percentPosition": true }'>
        <% data.forEach((item) => {%>
        <div class="col-4 my-3">
            <div class="card">
                <a href="product/<%=item.id%>">
                    product name : <%= item.name %><br /><br />
                    <img src="<%= item.images %>" class="card-img-top" alt="..." /><br /><br />
                    product Price: <%= item.price %><br /><br />
                    <!-- product Description: <%= item.description %><br /><br /> -->
                    product Category : <%= item.category.name %><br /><br />
                    on Stock : <%= item.stock %><br /><br />
                    <div class="product-rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9734;</span>
                    </div>
                    <button class="add-to-cart">Add to Cart</button>
                    <div class="card-body">
                        <p class="card-text"><%=item.created_at%></p>
                    </div>
                </a>
            </div>
        </div>
        <% }) %>
    </div>
</div>
